@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .animation-delay-plus-1100 {
        animation-delay: -1100ms;
    }

    .animation-delay-plus-1000 {
        animation-delay: -1000ms;
    }

    .animation-delay-plus-900 {
        animation-delay: -900ms;
    }

    .animation-delay-plus-800 {
        animation-delay: -800ms;
    }

    .animation-delay-plus-700 {
        animation-delay: -700ms;
    }

    .animation-delay-plus-600 {
        animation-delay: -600ms;
    }

    .animation-delay-plus-500 {
        animation-delay: -500ms;
    }

    .animation-delay-plus-400 {
        animation-delay: -400ms;
    }

    .animation-delay-plus-300 {
        animation-delay: -300ms;
    }

    .animation-delay-plus-450 {
        animation-delay: -450ms;
    }

}
.custom-tw{
    background-image:linear-gradient(transparent,rgba(0,0,0,.1),rgba(0,0,0,.2),rgba(0,0,0,.4),rgba(0,0,0,.5),rgba(0,0,0,.6)) ;
}
/* width */
.scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}